<p class="success"><%= flash[:success] %></p>

<h1>Editing Book</h1>

  <%= form_with model:@book, local:true do |f| %>

    <p>Title</p>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>

    <div> <%= f.submit 'Update Book', method: :patch %> </div>

  <% end %>

  <%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", books_path %>
